.el-header {
  padding: 0px;
  height: 100%;
}

.el-main {
  padding: 0px;
  height: 100%;
}

.flexDiv-v {
  display: flex;
  flex-direction: column;
}

.flexDiv-h {
  display: flex;
  flex-direction: row;
}
